.navbar {
    display: inline-block;
    background-color: silver;
    position: relative;
    display: flex;
}
.navbar a:hover{
    color: blue;
}

.logo {
    margin-left: 35%;
    width: 15%;
}

.menu {
    text-align: center;
    background-color: darkorange;
    font-family: Rockwell;
    font-weight: bold;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    color: slategray;
}

.menu-selected {
    color: blue;
}

.body {
    margin: auto;
    width: 80%;
    background-color: khaki;
    border-radius: 8px;
    border-color: darkorange;
}

.module {
    text-align: center;
}