<html>

<head>
    <title>AngularJS First Application</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
</head>

<body>
<h1>Sample Application</h1>

<div ng-app="mainApp">
    <div ng-controller="studentController">
        <p>Enter your Name: <input type="text" ng-model="student.name"></p>
        <p>Enter your hobby: <input type="text" ng-model="student.hobby"></p>
        <p>Enter your age: <input type="number" ng-model="student.age"></p>
        <p>Enter your age: <input type="number" ng-model="age2"></p>

        <p>Hello <span ng-bind="name"></span><span ng-bind="hobby"></span>!</p>

        <div ng-init="kraje = [{locale:'en-US',name:'United States'}, {locale:'en-GB',name:'United Kingdom'}, {locale:'en-FR',name:'France'}]">
            <ol>
                <li ng-repeat="kraj in kraje">
                    {{ 'Country: ' + kraj.name + ', Locale: ' + kraj.locale }}
                </li>
            </ol>
        </div>
        <p>Wypisales {{student.fullName()}}</p>
        <p>Wyniczek {{student.age-age2}}</p>
    </div>

    <div ng-controller="studentController2">
        <p>Odczytane dane:</p>
        <p ng-repeat="item in data">
            {{item.id}}
            {{item.name}}
            {{item.username}}
        </p>
    </div>


        <p><a href = "#addStudent">Add Studenta</a></p>
        <p><a href = "#viewStudents">View Students</a></p>
        <div ng-view></div>

        <script type = "text/ng-template" id = "addStudent.htm">
            <h2> Add Student </h2>
            {{message}}
        </script>

        <script type = "text/ng-template" id = "viewStudents.htm">
            <h2> View Students </h2>
            {{message}}
        </script>

    <script>
        var mainApp = angular.module("mainApp", ['ngRoute']);

        mainApp.config(['$routeProvider', function($routeProvider) {
            $routeProvider.

            when('/addStudent', {
                templateUrl: 'addStudent.htm',
                controller: 'AddStudentController'
            }).

            when('/viewStudents', {
                templateUrl: 'viewStudents.htm',
                controller: 'ViewStudentsController'
            }).

            otherwise({
                redirectTo: '/addStudent'
            });
        }]);

        mainApp.controller('AddStudentController', function($scope) {
            $scope.message = "This page will be used to display add student form";
        });

        mainApp.controller('ViewStudentsController', function($scope) {
            $scope.message = "This page will be used to display all the students";
        });

    </script>

    <script>


        mainApp.controller('studentController', function ($scope) {
            $scope.student = {
                name: "Mikos",
                age: "12",
                hobby: "tinder",

                fullName: function () {
                    var studentObject;
                    studentObject = $scope.student;
                    return studentObject.name + " " + studentObject.hobby;
                }
            };
        });


    </script>
    <script>
        mainApp.controller('studentController2', function ($scope, $http) {
            $http.get("http://jsonplaceholder.typicode.com/users").then(function (res, status, xhr) {
                $scope.data = res.data;
            });
        });
    </script>


</div>

<br><br>

<style>
    table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
</style>

<table border="0">
    <tr>
        <td>Enter first name:</td>
        <td><input type="text" ng-model="student.name"></td>
    </tr>

    <tr>
        <td>Enter last name:</td>
        <td>
            <input type="text" ng-model="student.hobby">
        </td>
    </tr>

    <tr>
        <td>Name:</td>
        <td>{{student.fullName()}}</td>
    </tr>

    <tr>
        <td></td>
        <td>Konik:</td>
    </tr>

    <tr>
        <td>Subject:</td>
        <td>Kraj:</td>
    </tr>

    <tr>
        <td ng-repeat="kraj in kraje">
            {{kraj.name }}
        </td>
    </tr>
</table>
</div>

</body>