<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>

    <meta charset="UTF-8">

    <style>
        h1 {
            color: cornflowerblue;
        }

        h2 {
            color: cornflowerblue;
        }

    </style>
</head>

<body>
<div ng-app="mainApp">
    <table ng-controller="glownyController" width="100%" ID="table1" style="margin: 0px;">
        <tr>
            <td>
                <h1>Krokomondo</h1>
                </p>
            </td>
            <td>
                <p ng-repeat="pomiar in uzytkownik|limitTo:1">
                    nazwa_uzytkownika: {{pomiar.login}}
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>"To mały krok człowieka, lecz wielki skok dla ludzkości"</p>
            </td>
            <td>
                <p ng-repeat="pomiar in uzytkownik|limitTo:1">
                    imie_uzytkownika: {{ pomiar.first_name }}
                </p>
                <p ng-repeat="pomiar in uzytkownik|limitTo:1">
                    nazwisko_uzytkownika: {{ pomiar.last_name }}
                </p>
            </td>
        </tr>
        <tr>
            <td></td>
            <td> czas</td>
        </tr>
        <tr>
            <td></td>
            <td> data</td>
        </tr>
    </table>
    <p></p>
    <table width="100%" ID="table2" style="margin: 0px;">
        <tr>
            <td width="25%">
                <p><a href="#ostatniTrening">Ostatni pomiar</a></p>
            </td>
            <td width="25%">
                <p><a href="#znajomi">Znajomi</a></p>
            </td>
            <td width="25%">
                <p><a href="#statystyki">Statystyki</a></p>
            </td>
            <td width="25%">
                <p><a href="#profil">Profil</a></p>
            </td>
        </tr>
    </table>
    <div ng-view></div>

    <script type="text/ng-template" id="ostatniPomiar.htm">
        <h2> Ostatni pomiar </h2>
        <p>Ostatni pomiar:</p>
        <p ng-repeat="pomiar in historia|limitTo:1">
            {{pomiar.id_record}}
            {{pomiar.id_user}}
            {{pomiar.length}}
            {{pomiar.time}}
        </p>
    </script>

    <script type="text/ng-template" id="znajomi.htm">
        <h2> Znajomi </h2>
        {{message}}
    </script>

    <script type="text/ng-template" id="statystyki.htm">
        <h2> Statystyki </h2>
        <p>Historia pomiarów:</p>
        <p ng-repeat="pomiar in historia">
            Długość: {{pomiar.length}}
            Czas: {{pomiar.time}}
            {{pomiar.id_record}}
            {{pomiar.id_user}}
            {{pomiar.length}}
            {{pomiar.time}}
        </p>
    </script>

    <script type="text/ng-template" id="profil.htm">
        <h2> Profil </h2>
        <p>Dane użytkownika:</p>
        <p ng-repeat="pomiar in historia|limitTo:1">
            {{pomiar.id}}
            {{pomiar.name}}
            {{pomiar.username}}
        </p>
        <p>Zmiana profilu:</p>
        <table>
            <tr>
                <td>
                    Nowe imię
                </td>
                <td>
                    <input type="text" ng-model="profilImie">
                </td>
            </tr>
            <tr>
                <td>
                    Nowe nazwisko
                </td>
                <td>
                    <input type="text" ng-model="profilNazwisko">
                </td>
            </tr>
            <tr>
                <td>
                    Nowy e-mail
                </td>
                <td>
                    <input type="email" ng-model="profilEmail">
                </td>
            </tr>
            <tr>
                <td>
                    Nowy login
                </td>
                <td>
                    <input type="text" ng-model="profilLogin">
                </td>
            </tr>
            <tr>
                <td>
                    Nowe hasło
                </td>
                <td>
                    <input type="text" ng-model="profilNoweHaslo">
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td>
                    Potwierdź zmiany hasłem
                </td>
                <td>
                    <input type="text" ng-model="profilHaslo">
                </td>
                <td>
                    <button ng-click="resetuj()">Resetuj</button>
                </td>
                <td>
                    <button ng-disabled="profilImie.$dirty &&
                    profilImie.$invalid || profilNazwisko.$dirty &&
                    profilNazwisko.$invalid || profilEmail.$dirty &&
                    profilEmail.$invalid || profilLogin.$dirty &&
                    profilLogin.$invalid || profilNoweHaslo.$dirty &&
                    profilNoweHaslo.$invalid" ng-click="przeslij()">Potwierdź
                    </button>
                </td>
            </tr>
        </table>
    </script>

    <script>
        var mainApp = angular.module("mainApp", ['ngRoute']);

        mainApp.config(['$routeProvider', function ($routeProvider) {
            $routeProvider.when('/ostatniPomiar', {
                templateUrl: 'ostatniPomiar.htm',
                controller: 'ostatniPomiarController'
            }).when('/znajomi', {
                templateUrl: 'znajomi.htm',
                controller: 'znajomiController'
            }).when('/statystyki', {
                templateUrl: 'statystyki.htm',
                controller: 'statystykiController'
            }).when('/profil', {
                templateUrl: 'profil.htm',
                controller: 'profilController'
            }).otherwise({
                redirectTo: '/ostatniPomiar'
            });
        }]);

        mainApp.controller('ostatniPomiarController', function ($scope) {
            $scope.message = "Ostatni pomiar";
        });

        mainApp.controller('znajomiController', function ($scope) {
            $scope.message = "Znajomi";
        });

        mainApp.controller('statystykiController', function ($scope) {
            $scope.message = "Historia pomiarów";
        });

        mainApp.controller('profilController', function ($scope) {
            $scope.message = "Profil";
        });
    </script>

    <script>
        mainApp.controller('ostatniPomiarController', function ($scope, $http) {
            $http.get("/history/last?id=0").then(function (res, status, xhr) {
                $scope.historia = res.data;
                console.log(res.data);
            }, function(error) {
                console.log(error);
            });
        });
    </script>

    <script>
        mainApp.controller('statystykiController', function ($scope, $http) {
            $http.get("/history?id=0").then(function (res, status, xhr) {
                $scope.historia = res.data;
            });
        });
    </script>

    <script>
        mainApp.controller('profilController', function ($scope, $http) {
            $http.get("/user/data?id=78").then(function (res, status, xhr) {
                $scope.historia = res.data;

            });
        });
    </script>

    <script>
        mainApp.controller('glownyController', function ($scope, $http) {
            $http.get("/user/data?id=1").then(function (res, status, xhr) {
                $scope.uzytkownik = res.data;

            });
        });
    </script>


    <script>
        mainApp.controller('profilController', function ($scope) {
            $scope.resetuj = function () {
                $scope.profilImie = "Jan";
                $scope.profilNazwisko = "Kowal";
                $scope.profilEmail = "jan@wat.pl";
                $scope.profilLogin = "JK";
                $scope.profilNoweHaslo = "kocyk7";
            }

            $scope.resetuj();
        });
    </script>

    <script>
        mainApp.controller('studentController', function ($scope) {
            $scope.przeslij = function () {
                $scope.profilImie = "Jan";
                $scope.profilNazwisko = "Kowal";
                $scope.profilEmail = "jan@wat.pl";
                $scope.profilLogin = "JK";
                $scope.profilNoweHaslo = "kocyk7";
            }

            $scope.przeslij();
        });
    </script>
</div>
</body>
</html>