<h2> Profil </h2>
<p>Zmiana profilu:</p>
<table *ngIf="userData" class="mainProfileTile">
    <tr>
        <td class="profileTile">
            Nowe imię:
        </td>
        <td>
            <input type="text" [(ngModel)]="userData.first_name">
        </td>
    </tr>
    <tr>
        <td class="profileTile">
            Nowe nazwisko:
        </td>
        <td>
            <input type="text" [(ngModel)]="userData.last_name">
        </td>
    </tr>
    <tr>
        <td class="profileTile">
            Nowy e-mail:
        </td>
        <td>
            <input type="email" [(ngModel)]="userData.e_mail">
        </td>
    </tr>
    <tr>
        <td class="profileTile">
            Nowy login:
        </td>
        <td>
            <input type="text" [(ngModel)]="userData.login" >
        </td>
    </tr>
    <tr>
        <td class="profileTile">
            Nowe hasło:
        </td>
        <td>
            <input type="password" [(ngModel)]="userData.password" autocomplete="off">
        </td>
    </tr>
    <tr></tr>
    <tr>
        <td class="profileTile">
            Potwierdź zmiany hasłem:
        </td>
        <td>
            <input type="password" [(ngModel)]="confirm_password" autocomplete="off">
        </td>
        <td>
            <button (click)="load()">Resetuj</button>
        </td>
        <td>
            <button [disabled]="user == null || loading" (click)="send()">Potwierdź</button>
        </td>
    </tr>
</table>
<br>